
body {
    font-family: "Microsoft YaHei UI";
    background-color: #f5f9fc;
}



.main {
    max-width: 1400px;
    min-width: 1200px;
    margin: 0 auto;
}

.header {
    height: 60px;
    background: -webkit-linear-gradient(#f6f7f6, #f3f4f3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#f6f7f6, #f3f4f3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#f6f7f6, #f3f4f3); /* Firefox 3.6 - 15 */
    background: linear-gradient(#f6f7f6, #f3f4f3); /* 标准的语法 */
}
.header-left-logo{
    margin: 7px 0 4px 10px;
}
.header-nav {
    height: 25px;
    background: -webkit-linear-gradient(#a4d2e5, #209ec6); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#a4d2e5, #209ec6); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#a4d2e5, #209ec6); /* Firefox 3.6 - 15 */
    background: linear-gradient(#a4d2e5, #209ec6); /* 标准的语法（必须放在最后） */
}
.header-nav .user{
    display: inline-block;
    height: 25px;
}
.header-nav .user .btn{
    text-align: left;
    border: 1px  rgba(255, 255, 255, 0) solid;
    padding-top: 0px;
    color: #233a46;
    height: 23px;
    font-size: 13px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0);
}
.header-nav .user .btn:hover,
.header-nav .user .btn:focus,
.header-nav .user .btn:active{
    color:#a94442 ;
    border: none;
}
.header-right-user {
    margin-right: 20px;
    line-height: 25px;

}

.header-right-user a, .header-right-user span {
    font-size: 12px;
    color: #b0e5ff
}

.header-right-user i {
    color: #607d8b
}

.main, .main-right-detail {
    min-height: 550px;
}

.col-xs-2, .col-xs-10 {
    padding-left: 0;
    padding-right: 0;
}
.main-left-menuBar .list-group-item {
    border-right: none;
    border-left: none;
}
a.list-group-item {
    color: #37847c;
}
.main-left-menuBar,.main-left-menuBar a.list-group-item.active {
    background-color: #FFFFFF;
}

.main-left-menuBar a.list-group-item.active {
    color: #233a46;
    font-size: 16px;
    border-color: #ddd;
}

.main-left-menuBar a:hover {
    color: #0eaaf2;
    background-color: #f5f9fc;;
}


.main-left-menuBar a i {
    margin-right: 10px;
}

.top {
    position: fixed;
}

.col-xs-2 {
    width: 12.66666667%;
!important;
}

.col-xs-10 {
    width: 87.33333333%;
!important;
}

#main-left-menuBar {
    width: 150px;
    position: fixed;
    margin-top: 102px;
    z-index: 1030;

}

.exchangeActive
{
    background-color: #f5f9fc;
    border-color: #ddd;
}

#main-right-detail {
    margin-top: 102px;
    margin-left: 160px;
    z-index: 1020;
}
.footer{
    min-width: 1200px;
    height: 40px;
    background-color: #e7e7e7;
    text-align: center;
    line-height: 40px;
    z-index: 1040;
    font-size: 0.5rem;
}
